<html>

<head>
    <title>C.R.U.D</title>
    <style>
        .container {
            margin-left: 550px;
            margin-top: 150px;
            width: 300px;
            height: 100px;
            padding: 15px;
            background-color: aquamarine;
        }
    </style>
</head>

<body>
    <p style="margin-left:550px;"><a href="retrieve">Check data</a></p>
    <div class="container">
        <table>
            <tbody>
                <form action="create" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td> Currency Code</td>
                        <td><input type="text" name="currency_code" required></td>
                    </tr>
                    <tr>
                        <td> language</td>
                        <td><input type="text" name="language" required></td>
                    </tr>
                    <tr>
                        <td> Target currenct code</td>
                        <td><input type="text" name="target_currency_code" required></td>
                    </tr>
                    <tr>
                        <td><button>Submit</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</body>

</html>